body{
    background-color: #A65A49;
}
#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #011640;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 120px;
    box-shadow: 2px 2px 2px;
    color: #D99036;
}

#navbar>a {
    font-family: helvetica;
    font-size: 30px;
    text-decoration: none;
    color: white;
}

#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 100vh;
    background-color: #D9B1AD;
}

button{
    color: white;
    background-color: #011640;
    font-size: 40px;
    padding: 20px;
    border-color: white;
    border-radius: 20px;
    margin: 20px;
}

button:hover{
    background-color: #D99036
}

.moviebutton{
    font-size: 20px;
    margin: 10px;
    background-color: #D99036;
}

.moviebutton:active{
    background-color: black;
}

#pickmovie{
    display: flex;
    justify-content: space-around;
}

h1{
    font-family: Helvetica;
    font-size: 75px;
    color: #011640;
    
}

#aboutme > img{
    width: 40%;
    margin: 20px;
}

#aboutme{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: helvetica;
    font-size: 30px;
    height: 100vh;
    color: white;
    align-items: center;
}

h2 {
    margin-block-start: 20px;
    margin-block-end: 20px;
}

#profile-link{
    color: white;
    font-family: helvetica;
    font-size: 30px;
    text-decoration: none;
}

#projects{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 45vh;
}

#filmsul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
    color: white;
    font-family: helvetica;
    font-size: 28px;
}

.resize{
    height: 400px;
}

#talkbutton{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#talkbutton > h2{
    color: white;
    font-family: helvetica;
    font-size: 30px;
}

#getintouch{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #D9B1AD;
    text-align-last: center;
    margin: 80px;
}

#getintouch > h2{
    color: white;
    font-family: helvetica;
    font-size: 30px;
    margin: 40px;
    text-align: center;
}

#getintouch > form > label{
    font-family: helvetica;
    font-size: large;
    color: white;
    text-align: center;
}

#getintouch > form > input{
    font-family: helvetica;
    font-size: large;
    color: lightslategray;
    text-align: center;
}

#getintouch > form > select{
    font-family: helvetica;
    font-size: large;
    color: lightslategray;
    text-align-last: center;
}

#getintouch > form > textarea{
    font-family: helvetica;
    font-size: large;
    text-align-last: center;
}

#getintouch > form{
 display: flex;
 justify-content: space-around;
 flex-direction: column;
 margin-top: 20px;
 margin-left: 100px;
 margin-right: 100px;
 margin-bottom: 40px;
}

 @media screen {
    body {
      width: 100%;
    }
  }
  
  @media print {
    body {
      width: 100%;
    }
  }
}